<div class="container">
 <div class="row">

 <%= render 'users/list_user', { user: @user, book_new: @book_new } %>

	<div class="col-xs-9">
		<h2>Book detail</h2>
		<table class="table">
			<tr>
				<td>
					<%= link_to user_path(@user) do %>
					<%= attachment_image_tag @user, :profile_image, size:"50x50",
					format:"jpeg", fallback:"no_image.jpg" %>
					<br> <%= @user.name %>
				    <% end %></td>
				<td>
					<%= link_to book_path(@book) do %>
					<%= @book.title %> </td>
					<% end %>
				<td> <%= @book.body %> </td>
				<td> <%= link_to "Edit", edit_book_path(@book) ,
					class:"btn btn-default btn-sm" %> </td>
				<td> <%= link_to "Destoroy", book_path(@book), method: :delete ,
					class:"btn btn-default btn-sm" %> </td>
			</tr>
		</table>
	</div>

 </div>
</div>