<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="navbar navbar-default ">
    <div class="container">
      <nav class="nav navbar-nav navbar-left">
        <span>Bookers</span>
      </nav>
    <nav>
    <ul class="nav navbar-right nav-pills" >
    <% if user_signed_in? %>
      <li class="">
        <%= link_to 'Home', user_path(current_user) %>
      </li>
      <li class="">
        <%= link_to "Users", "/users" %>
      </li>
      <li class="">
        <%= link_to 'Books', "/books" %>
      </li>
      <li class="">
        <%= link_to "logout", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li class="">
        <%= link_to "/home" do %>
        <span class="glyphicon glyphicon-home" aria-hidden="true">  Home</span>
        <% end %>
      </li>
      <li class="">
        <%= link_to "/home/about" do %>
         <span class="glyphicon glyphicon-link" aria-hidden="true">  About</span>
        <% end %>
      </li>
      <li class="">
        <%= link_to new_user_registration_path do %>
         <span class="glyphicon glyphicon-edit" aria-hidden="true">  sign up</span>
        <% end %>
      </li>
      <li class="">
        <%= link_to new_user_session_path do %>
         <span class="glyphicon glyphicon-log-in" aria-hidden="true">  login</span>
         <% end %>
      </li>
    <% end %>
  </ul>
  </nav>

   </div>
  </header>
  <% flash.each do |key, value| %>
   <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>
    <%= yield %>
  </body>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-3 col-xs-offset-9">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </footer>
</html>
